<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Newsletters</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
        <form th:action="@{/debtor/{debtorId}/creditor/{creditorId}/queue/save(debtorId=${debtor.id},creditorId=${creditor.id})}"
              method="post" enctype="multipart/form-data" th:object="${queue}">
            <div class="p-3">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" name="debtorId" th:value="${debtor.id}" id="debtorId"/>
                <input type="hidden" name="creditorId" th:value="${creditor.id}" id="creditorId"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <a th:href="@{/debtor/{debtorId}/creditor/{creditorId}(debtorId=${debtor.getId()},creditorId=${creditor.getId()})}"
                           th:title="#{creditor}"
                           th:text="${creditor.name}"
                           id="debtorName">
                        </a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label" for="type" th:text="#{debtor.creditor.queue.queueType}"/>
                        <select class="form-control" id="type" th:field="*{type}">
                            <option th:if="${queue?.type == null}" selected th:value="${null}"
                                    th:text="#{choose}"></option>
                            <option th:each="queueType : ${queueTypes}"
                                    th:value="${queueType.getCode()}"
                                    th:text="${queueType.getValue()}"
                            />
                        </select>
                    </div>
                </div>
                <div th:replace="~{queue/field/field :: field}"></div>
               <!-- <div id="queue" style="display: none">
                    <div th:replace="~{queue/field/queue :: queue}"></div>
                </div>
                <div id="queueRepayment" style="display: none">
                    <div th:replace="~{queue/field/queue_repayment :: queue_repayment}"></div>
                </div>
                <div id="depositQueue" style="display: none">
                    <div th:replace="~{queue/field/deposit_queue :: deposit_queue}"></div>
                </div>
                <div id="thirdQueue" style="display: none">
                    <div th:replace="~{queue/field/third_queue :: third_queue}"></div>
                </div>-->

                <div class="text-center">
                    <input type="submit" th:value="#{save}" class="btn btn-primary btn-sm mr-2"/>
                    <input type="button" th:value="#{cancel}" id="btnCancel" class="btn btn-secondary btn-sm"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript">
   /* window.onload = reloadForm*/

    $(document).ready(function () {
        $("#btnCancel").on("click", function () {
            window.location = "[[@{/debtor/{debtorId}/creditor/{creditorId}(debtorId=${debtor.getId()},creditorId=${creditor.getId()})}]]";
        });
    });

   /* function reloadForm() {
        const selectedValue = $("#type").val()
        if (["FIRST", "SECOND"].includes(selectedValue)) {
            $("#queue").show()
            $("#queueRepayment").hide()
            $("#depositQueue").hide()
            $("#thirdQueue").hide()
        } else if (["FIRST_REPAYMENT", "SECOND_REPAYMENT", "THIRD_REPAYMENT", "THIRD_REPAYMENT_DEPOSIT"].includes(selectedValue)) {
            $("#queue").hide()
            $("#queueRepayment").show()
            $("#depositQueue").hide()
            $("#thirdQueue").hide()
        } else if (["THIRD_DEPOSIT"].includes(selectedValue)) {
            $("#queue").hide()
            $("#queueRepayment").hide()
            $("#depositQueue").show()
            $("#thirdQueue").hide()
        } else if (["THIRD"].includes(selectedValue)) {
            $("#queue").hide()
            $("#queueRepayment").hide()
            $("#depositQueue").hide()
            $("#thirdQueue").show()
        } else {
            $("#queue").hide()
            $("#queueRepayment").hide()
            $("#depositQueue").hide()
            $("#thirdQueue").hide()
        }
    }*/

</script>

</body>

</html>