<header th:fragment="header"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark px-3">

        <a th:href="@{/}">
            <img style="max-height: 50px;" alt="STSM logo" src="../static/images/logo.png" th:src="@{/images/logo.png}" th:href="@{/}"/>
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#topNavbar"
                aria-controls="topNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       th:text="#{data}"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/arbitration-managers}" th:text="#{arbitration-managers}"></a>
                        <a class="dropdown-item" th:href="@{/debtors}" th:text="#{debtors}"></a>
                        <a class="dropdown-item" th:href="@{/courts}" th:text="#{courts}"></a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                       th:text="#{referenceData}"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/request-destinations}"
                           th:text="#{request-destinations}"></a>
                        <a class="dropdown-item" th:href="@{/questions}" th:text="#{questions}"></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="button" aria-expanded="false" th:text="#{document-templates}"
                       th:href="@{/document-templates}"></a>
                </li>
            </ul>

            <div class="d-flex align-items-center ms-auto gap-3">

                <span class="text-white" sec:authentication="name"></span>

                <form th:action="@{/logout}" method="post" class="m-0">
                    <button type="submit" class="btn btn-danger btn-sm"
                            th:text="#{sign-out}">
                        Sign Out
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>
