<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Newsletters</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
        <form th:action="@{/debtor/save}" method="post" enctype="multipart/form-data" th:object="${debtor}">

            <input type="hidden" th:field="*{id}" />

            <div class="p-3">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="name" th:text="#{debtor.name}"/>
                        <input type="text" th:field="*{name}" required minlength="2" maxlength="128" class="form-control" id="name" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="name" th:text="#{debtor.full-name}"/>
                        <input type="text" th:field="*{fullName}" required minlength="2" maxlength="128" class="form-control" id="fullName" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-form-label" for="address" th:text="#{debtor.address}"/>
                    <input type="text" th:field="*{address}" required minlength="2" maxlength="128" class="form-control" id="address" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="caseNumber" th:text="#{debtor.case-number}"/>
                        <input type="text" th:field="*{caseNumber}" required minlength="2" maxlength="128" class="form-control" id="caseNumber" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="courtAct" th:text="#{debtor.court-act}"/>
                        <input type="text" th:field="*{courtAct}" required minlength="2" maxlength="128" class="form-control" id="courtAct" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="actDate" th:text="#{debtor.act-date}"/>
                        <input type="date" th:field="*{actDate}" required minlength="2" maxlength="128" class="form-control" id="actDate" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="resolutionDate" th:text="#{debtor.resolution-date}"/>
                        <input type="date" th:field="*{resolutionDate}" required minlength="2" maxlength="128" class="form-control" id="resolutionDate" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="taxRegistrationReasonCode" th:text="#{debtor.tax-registration-reason-code}"/>
                        <input type="text" th:field="*{taxRegistrationReasonCode}" required minlength="2" maxlength="128" class="form-control" id="taxRegistrationReasonCode" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="taxpayerIdentificationNumber" th:text="#{debtor.taxpayer-identification-number}"/>
                        <input type="text" th:field="*{taxpayerIdentificationNumber}" required minlength="2" maxlength="128" class="form-control" id="taxpayerIdentificationNumber" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="primaryStateRegistrationNumber" th:text="#{debtor.primary-state-registration-number}"/>
                        <input type="text" th:field="*{primaryStateRegistrationNumber}" required minlength="2" maxlength="128" class="form-control" id="primaryStateRegistrationNumber" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="taxRegistrationReasonCode" th:text="#{debtor.registry-date}"/>
                        <input type="date" th:field="*{registryDate}" required minlength="2" maxlength="128" class="form-control" id="registryDate" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 col-form-label" for="taxpayerIdentificationNumber" th:text="#{debtor.registry-closing-date}"/>
                        <input type="date" th:field="*{registryClosingDate}" required minlength="2" maxlength="128" class="form-control" id="registryClosingDate" />
                    </div>
                </div>

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="requests-tab" data-toggle="tab" type="button" role="tab" aria-controls="requests" aria-selected="true"  th:text="#{requests}"/>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="publication-tab" data-toggle="tab" type="button" role="tab" aria-controls="publication" aria-selected="false" th:text="#{publication}"/>
                    </li>
                </ul>
                <div class="tab-content" id="debtorTabContent">
                    <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">

                    </div>
                    <div class="tab-pane fade" id="publication" role="tabpanel" aria-labelledby="publications-tab">...</div>
                </div>

                <div class="text-center">
                    <input type="submit" th:value="#{save}" class="btn btn-primary btn-sm mr-2" />
                    <input type="button" th:value="#{cancel}" id="btnCancel" class="btn btn-secondary btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").on("click", function () {
            window.location = "[[@{/debtor/all}]]";
        });
    });
</script>

</body>

</html>