<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Newsletters</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container-fluid">
  <h2 class="text-center">[[${pageTitle}]]</h2>

  <div class="my-3">

    <form th:action="@{/newsletters/save}" method="post" enctype="multipart/form-data" style="max-width: 550px; margin: 0 auto" th:object="${newsletterParams}">

      <div class="form-group">
        <h4><label th:text="#{date}"/></h4>
        <input type="date" th:value="${date}" name=date id="student-birth-date"/>
      </div>

      <div class="form-group">
        <h4><label th:text="#{newsletters}"/></h4>
        <div class="form-check" th:each="newsletter : ${newsletters}">
          <input class="form-check-input" type="checkbox" name="templateIds" th:value="${newsletter.id}" id="newsletterId">
          <label class="form-check-label" for="newsletterId">[[${newsletter.name}]]</label>
        </div>
      </div>

      <div class="form-group">
        <h4><label th:text="#{creditors}"/></h4>
        <div class="form-check" th:each="creditor : ${creditors}">
          <input class="form-check-input" type="checkbox" name="creditorIds" th:value="${creditor.id}" id="creditorId">
          <label class="form-check-label" for="creditorId">[[${creditor.name}]]</label>
        </div>
      </div>

      <div class="form-group">
        <h4><label th:text="#{debtors}"/></h4>
        <div class="form-check" th:each="debtor : ${debtors}">
          <input class="form-check-input" type="checkbox" name="debtorIds" th:value="${debtor.id}" id="debtorId">
          <label class="form-check-label" for="creditorId">[[${debtor.name}]]</label>
        </div>
      </div>

      <div class="form-group">
        <h4><label th:text="#{locations}"/></h4>
        <div class="form-check" th:each="location : ${locations}">
          <input class="form-check-input" type="checkbox" name="locationIds" th:value="${location.id}" id="locationId">
          <label class="form-check-label" for="creditorId">[[${location.name}]]</label>
        </div>
      </div>

      <div class="p-3">
        <div class="text-center">
          <input type="submit" th:value="#{save}" class="btn btn-primary btn-sm mr-2" />
          <input type="button" th:value="#{cancel}" id="btnCancel" class="btn btn-secondary btn-sm" />
        </div>
      </div>
    </form>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#btnCancel").on("click", function () {
      window.location = "[[@{/}]]";
    });
  });
</script>

</body>

</html>