<div th:fragment="queue_repayment">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label" for="repaymentDate" th:text="#{debtor.creditor.queue.repaymentDate}"/>
            <input type="date" name="repaymentDate" th:value="${queue.repaymentDate}" class="form-control" id="repaymentDate"/>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label" for="repaymentAmount" th:text="#{debtor.creditor.queue.repaymentAmount}"/>
            <input type="number" step="any" name="repaymentAmount" th:value="${queue.repaymentAmount}" class="form-control" id="repaymentAmount"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="col-form-label" for="repaymentDocumentDetails" th:text="#{debtor.creditor.queue.repaymentDocumentDetails}"/>
            <input type="text" name="repaymentDocumentDetails" th:value="${queue.repaymentDocumentDetails}" class="form-control"
                   id="repaymentDocumentDetails"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label" for="outstandingAmount" th:text="#{debtor.creditor.queue.outstandingAmount}"/>
            <input type="number" step="any" name="outstandingAmount" th:value="${queue.outstandingAmount}" class="form-control" id="outstandingAmount"/>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label" for="exclusionFromRegisterDate" th:text="#{debtor.creditor.queue.exclusionFromRegisterDate}"/>
            <input type="date" name="exclusionFromRegisterDate" th:value="${queue.exclusionFromRegisterDate}" class="form-control"
                   id="exclusionFromRegisterDate"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label" for="exclusionDocument" th:text="#{debtor.creditor.queue.exclusionDocument}"/>
            <input type="text" name="exclusionDocument" th:value="${queue.exclusionDocument}" class="form-control"
                   id="exclusionDocument"/>
        </div>
    </div>
</div>
